@charset "UTF-8";
.logo {
  width: 140px;
  height: 40px;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/seasons-71566.appspot.com/o/4seasons%2Flogo.png?alt=media&token=9f1ff568-ad69-4b55-85dd-b7914b6b893b");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  -webkit-transform: scaleY(80%);
          transform: scaleY(80%);
}

.logo.logo_black {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/gratia-2cdd0.appspot.com/o/gratine%2Flogo2.png?alt=media&token=1b862dd5-1aa0-4321-9fcf-77d6388514d3");
  width: 148px;
  height: 58px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  width: 600px;
}

@media screen and (max-width: 600px) {
  body .center {
    width: 100%;
  }
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: 60px;
  background-color: white;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

.header p {
  font-size: 1.2rem;
  font-weight: bold;
}

.header a svg {
  width: 24px;
  height: 24px;
}

.header a:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-filter: invert(69%) sepia(60%) saturate(2545%) hue-rotate(1deg) brightness(104%) contrast(104%);
          filter: invert(69%) sepia(60%) saturate(2545%) hue-rotate(1deg) brightness(104%) contrast(104%);
}

.home-area {
  background-color: white;
  height: 100%;
}

.home-area .home__banner {
  width: 100%;
  height: 400px;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.home-area .home__menu {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-area .home__menu.test li {
  background-color: lightgray;
}

.home-area .home__menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-area .home__menu li a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  height: 100px;
  background-color: lightblue;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-area .home__menu li:hover {
  cursor: pointer;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-area .home__information {
  padding: 1rem;
}

.home-area .home__information p {
  padding: 10px 0;
  font-weight: bold;
}

.home-area .home__information ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-area .home__information ul li {
  border: 1px solid black;
  padding: 1rem;
  background-color: lightpink;
  text-align: center;
  width: calc(50% - 0.5rem);
}

.home-area .home__information ul li:hover {
  cursor: pointer;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mission-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: #eceaf2;
}

.mission-area .mission-quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
  text-align: center;
}

.mission-area .mission-quest .leftTime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mission-area .mission-quest .leftTime span {
  font-weight: bold;
  display: inline-block;
  padding: 0.5rem;
  background-color: #373353;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
}

.mission-area .mission-quest p {
  font-size: 1.1rem;
}

.mission-area .mission-quest h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.mission-area .mission-quest h3 {
  line-height: 1.6;
}

.mission-area .mission-do {
  padding: 1rem;
  background-color: #c5c2d3;
  border-radius: 4px;
  -webkit-box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
          box-shadow: 1.5px 1.5px 4.5px rgba(29, 12, 23, 0.18);
}

.mission-area .mission-do .mission-text textarea {
  padding: 20px !important;
  font-size: 16px;
  resize: none;
  height: unset;
}

.mission-area .mission-do .mission-text textarea::-webkit-input-placeholder {
  font-size: 16px;
}

.mission-area .mission-do .mission-text textarea:-ms-input-placeholder {
  font-size: 16px;
}

.mission-area .mission-do .mission-text textarea::-ms-input-placeholder {
  font-size: 16px;
}

.mission-area .mission-do .mission-text textarea::placeholder {
  font-size: 16px;
}

.mission-area .mission-do .mission-text .textAccount {
  text-align: right;
}

.mission-area .mission-do .mission-text .textAccount span {
  -webkit-transform: translateY(-30px) translateX(-8px);
          transform: translateY(-30px) translateX(-8px);
  font-size: 0.8rem;
  font-weight: 800;
  opacity: 0.8;
  background-color: white;
  display: inline-block;
}

.mission-area .mission-do .custom-radio {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid white;
  position: relative;
}

.mission-area .mission-do .custom-radio.on {
  background-color: rgba(255, 255, 255, 0.475);
}

.mission-area .mission-do .custom-radio.on::after {
  content: "✔️";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mission-area .mission-list {
  background-color: white;
  padding: 1rem;
}

.mission-area .mission-list .mission-item {
  border-bottom: 1px solid lightgray;
  white-space: pre-wrap;
  margin-bottom: 0.5rem;
}

.mission-area .mission-list .mission-item .mission__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.mission-area .mission-list .mission-item .mission__profile .userPhoto {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 4px;
}

.mission-area .mission-list .mission-item .mission__profile b {
  font-weight: bold;
}

.mission-area .mission-list .mission-item .mission__profile p {
  font-size: 0.8rem;
}

.mission-area .mission-list .mission-item .mission__content {
  padding: 1rem;
}

.mission-area .mission-list .mission-item .mission__content a {
  color: blue;
}

.mission-area .mission-list .mission-item .mission__content a:hover {
  cursor: pointer;
}

.mission-area .mission-list .mission-item .mission__content .mission-img {
  width: 100%;
}

.profile-area {
  height: 100%;
  background-color: #eceaf2;
  border: 1px solid black;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.profile-area .profile__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.profile-area .profile__pic img {
  width: 200px;
  height: 200px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #EFF0CD;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: #767824;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  #root {
    height: calc(var(--var, 1vh) * 100);
  }
}

@media only screen and (max-width: 480px) {
  #root::after {
    display: none !important;
  }
}
